@function toRem($pixel) {
  @return calc($pixel / 16) * 1rem;
}


$Red: #F64A4A;
$Orange: #FB7C58;
$Yellow: #F8CD65;
$NeonGreen: #A4FFAF;
$AlmostWhite: #E6E5EA;
$Grey: #817D92;
$DarkGrey: #24232C;
$VeryDarkGrey: #18171F;

.container {
  width: 100%;
  min-height: 100vh;
  background-color: $VeryDarkGrey;

  padding: 64px 24px;

}

main {
  max-width: 540px;
  width: 100%;
  margin: 0 auto;
}


.app-title {
  font-size: 24px;
  color: $Grey;
}

.pass-view-container {
  padding: 28px 32px;
  background-color: $DarkGrey;

  .pass-view {
    font-size: 32px;
    color: $AlmostWhite;
    margin: 0;
  }

  .icon-copy {
    cursor: pointer;
    color: $NeonGreen;
    transition: all .3s ease;
    position: relative;

    &:hover {
      color: $AlmostWhite;
    }
  }
}

.settings {
  padding: 32px 32px 30px;
  background-color: $DarkGrey;
}

.ranger-container {
  .label {
    font-size: 18px;
    color: $AlmostWhite;
  }

  .value {
    font-size: 32px;
    color: $NeonGreen;
  }




  input[type="range"] {
    /*   -webkit-appearance: none; */
    appearance: none;
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 8px;
    border-radius: 15px;
    background: $VeryDarkGrey;
    outline: none;
  }

  /* Thumb: webkit */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 28px;
    width: 28px;
    background-color: $AlmostWhite;
    border-radius: 50%;
    /*   margin-top: -5px; */
    border: none;
    transition: .2s ease-in-out;
  }

  /* Thumb: Firefox */
  input[type="range"]::-moz-range-thumb {
    height: 28px;
    width: 28px;
    background-color: $AlmostWhite;
    border-radius: 50%;
    border: none;
  }

  /* Hover & Active Thumb: Webkit */

  input[type="range"]::-webkit-slider-thumb:hover,
  input[type="range"]:active::-webkit-slider-thumb {
    background-color: $VeryDarkGrey;
    border: 2px solid $NeonGreen;
    box-shadow: 0 0 0 7px rgba(164, 255, 175, 0.1);

  }

  /* Hover & Active Thumb: Firfox */

  input[type="range"]::-moz-range-thumb:hover,
  input[type="range"]:active::-moz-range-thumb {
    background-color: $VeryDarkGrey;
    border: 2px solid $NeonGreen;
    box-shadow: 0 0 0 7px rgba(164, 255, 175, 0.1);
  }

  /* Focus: Webkit */
  input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px rgba(164, 255, 175, 0.2);
  }

  /* Focus: Firfox */
  input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 10px rgba(164, 255, 175, 0.2);
  }
}

.check-container {
  label {
    cursor: pointer;
    font-size: 18px;
    color: $AlmostWhite;
    user-select: none;

    display: flex;
    gap: 24px;
  }

  /* Hide the browser's default checkbox */
  label input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: $DarkGrey;
    border: 2px solid $AlmostWhite;
  }

  /* On mouse-over, add a grey background color */
  label:hover input~.checkmark {
    background-color: $DarkGrey;
    border-color: $NeonGreen;
  }

  /* When the checkbox is checked, add a blue background */
  label input:checked~.checkmark {
    background-color: $NeonGreen;
    border-color: $NeonGreen;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  label input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  label .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid $VeryDarkGrey;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.pass-strength {
  width: 100%;
  height: 72px;
  background-color: $VeryDarkGrey;
  padding: 0 32px;

  .desc {
    font-size: 18px;
    color: $Grey;
    text-transform: uppercase;
  }

  .strength-txt {
    font-size: 24px;
    color: $AlmostWhite;
    text-transform: uppercase;
  }

  .bare {
    display: inline-block;
    height: 28px;
    width: 10px;
    border: 2px solid $AlmostWhite;
  }

  .un {
    .bare {
      &:first-of-type {
        background-color: $Red;
        border-color: $Red;
      }
    }
  }

  .deux {
    .bare {

      &:nth-of-type(1),
      &:nth-of-type(2) {
        border-color: $Orange;
        background-color: $Orange;
      }
    }
  }

  .trois {
    .bare {

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        border-color: $Yellow;
        background-color: $Yellow;
      }
    }
  }

  .quatre {
    .bare {

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4) {
        border-color: $NeonGreen;
        background-color: $NeonGreen;
      }
    }
  }
}

.btn-generate {
  height: 65px;
  width: 100%;
  border: 2px solid $NeonGreen;
  background-color: $NeonGreen;
  transition: all .3s ease;

  font-size: 18px;
  color: $DarkGrey;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    background: $DarkGrey;
    color: #A4FFAF;
  }



}


@media (max-width:600px) {
  .settings {
    padding: 22px 16px 16px;
  }

  .app-title {
    font-size: 16px;
  }

  .pass-view-container {
    padding: 20px 16px;

    .pass-view {
      font-size: 24px;
    }
  }


  .ranger-container {
    .label {
      font-size: 16px;
    }

    .value {
      font-size: 24px;
    }
  }

  .pass-strength {
    padding: 0 16px;
    height: 56px;

    .desc {
      font-size: 16px;
    }

    .strength-txt {
      font-size: 18px;
    }
  }

  .check-container {
    label {
      gap: 20px;
      font-size: 16px;
    }
  }

  .btn-generate {
    height: 56px;
    font-size: 16px;
  }
}