<div class="wrapper">
  <div class="container">
    <div class="messageAfterCopy" *ngIf="messageAfterCopy != ''">
      {{ messageAfterCopy }}
    </div>
    <h1 class="app-title">Password Generator</h1>
    <div class="main-content">
      <div class="vierwer">
        <span
          class="word"
          [ngStyle]="{
            color: password == '' ? '#f1f1f160' : '#ffff'
          }"
          >{{ password == "" ? placeholder : password }}</span
        >
        <span class="icon-copy"
          ><i class="bi bi-files" (click)="copyToClipboard()"></i>
        </span>
      </div>
      <div class="pass-caractere">
        <div class="pass-lenght">
          <div class="top">
            <span class="name">Character Lenght</span>
            <span class="value">{{ passwordLength }}</span>
          </div>
          <div class="bottom">
            <input
              type="range"
              [(ngModel)]="passwordLength"
              min="0"
              max="20"
              [value]="passwordLength"
            />
          </div>
        </div>
        <ul class="pass-options">
          <li>
            <input
              type="checkbox"
              [checked]="includeUppercase"
              (click)="onCheckClick('upper')"
            /><span>Include Uppercase Letters</span>
          </li>
          <li>
            <input
              type="checkbox"
              [checked]="includeLowercase"
              (click)="onCheckClick('lower')"
            /><span>Include Lowercase Letters</span>
          </li>
          <li>
            <input
              type="checkbox"
              [checked]="includeNumbers"
              (click)="onCheckClick('number')"
            /><span>Include Numbers</span>
          </li>
          <li>
            <input
              type="checkbox"
              [checked]="includeSymbols"
              (click)="onCheckClick('symbol')"
            /><span>Include Symbols</span>
          </li>
        </ul>
        <div class="pass-strength-value">
          <span>STRENGTH</span>
          <ul [ngClass]="strengthPassword">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <button class="generate-btn" (click)="generatePassword()">
          GENERATE <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
