/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "JetBrainsMono";
  src: url(./assets/font/JetBrainsMono-Bold.ttf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "JetBrainsMono", monospace;
}

.text-on-1-line,
.text-on-2-line,
.text-on-3-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-on-1-line {
  -webkit-line-clamp: 1;
}

.text-on-2-line {
  -webkit-line-clamp: 2;
}

.text-on-3-line {
  -webkit-line-clamp: 3;
}