/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "JetBrainsMono";
  src: url(./assets/font/JetBrainsMono-Bold.ttf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "JetBrainsMono", monospace;
}